/*full page styling*/
* {
    -fx-font-family:  'Josefin Slab', serif;
}

/*///////////////////////////////////////////////////item screen//////////////////////////////////////////////////////*/

#scroll-pane{
    -fx-background-color: transparent;
}
#scroll-pane > .viewport {
    -fx-background-color: transparent;
}

/*Button*/
#btn-add{
    -fx-background-color: rgb(231, 207, 165);
    -fx-font-size: 16;
    -fx-border-width: 0.8;
    -fx-border-color: rgba(0, 0, 0, 0.8);
    -fx-border-radius: 50;
    -fx-background-radius: 50;
    -fx-text-fill: black;
}

#btn-add:hover {
    -fx-background-color: rgb(255, 228, 180);
    -fx-border-width: 1;
    -fx-cursor: hand;
}

/*generate item*/

#item-box:hover{
    -fx-cursor: hand;
    -fx-background-color: rgba(255, 228, 180, 0.43);
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: rgba(255, 228, 180, 1);
    -fx-border-width: 0.5;
}

#picture-image{
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 20, 0, 0.0, 0.0);
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

#title{
    -fx-background-color: rgba(0, 0, 0, 0.06);
    -fx-background-radius: 3px;
    -fx-text-fill: white;
    -fx-font-family:  'Josefin Slab';
    -fx-font-size: 18;
    -fx-font-weight: bold;
}

/*///////////////////////////////////////////////////////////InfoScreen///////////////////////////////////////////////*/
/*scroll pane styling*/
#info-scroll-pane {
    -fx-background-color: transparent;
}
#info-scroll-pane >.viewport {
    -fx-background-color: transparent;
}
/*title section*/
#info-screen-title{
    -fx-font-family:  'Josefin Slab';
    -fx-font-size: 22;
    -fx-font-weight: bold;
}

#delete-btn{
    -fx-background-color: rgb(231, 207, 165);
    -fx-border-width: 1;
    -fx-border-color: rgba(0, 0, 0, 0.8);
    -fx-border-radius: 50;
    -fx-background-radius: 50;
}

#delete-btn:hover{
    -fx-background-color: rgb(231, 207, 165);
    -fx-border-width: 1;
    -fx-border-color: rgba(255, 0, 0, 0.8);
    -fx-border-radius: 50;
    -fx-background-radius: 50;
}

/*info section*/
#info-content-pane{
    -fx-background-color: rgba(255, 228, 180, 0.56);
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: rgb(201, 170, 125);
    -fx-border-width: 0.5;
}

#info-title{
    -fx-font-size: 16;
    -fx-font-weight: bold;
}

#scrollPane{
    -fx-border-radius: 5;
    -fx-border-color: rgb(201, 170, 125);
    -fx-border-width: 0.5;
}

/*middle content section*/
#middle-content-pane{
    -fx-background-color: rgba(255, 228, 180, 0.56);
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: rgb(201, 170, 125);
    -fx-border-width: 0.5;
}

#middle-content-title-pane{
    -fx-border-width: 0 0 3 0;
    -fx-border-color: #A03232;
}

/*title*/
#middle-content-title{
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-text-fill: #792626;
}

/*ahs-section*/
#ahs-pane{
    -fx-border-width: 0 0 3 0;
    -fx-border-color: #A03232;
}

#txt-label{
    -fx-font-family: 'Josefin Slab';
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-text-fill: #792626;
}

#view-label{
    -fx-font-size: 14;
    -fx-font-weight: normal;
    -fx-text-fill: #792626;
}

/*statblock section*/
#stat-pane{
    -fx-border-width: 0 0 3 0;
    -fx-border-color: #A03232;
}

#txt-stat-label{
    -fx-font-family: 'Josefin Slab';
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-text-fill: #792626;
}

#view-stat-label{
    -fx-font-size: 16;
    -fx-font-weight: normal;
    -fx-text-fill: #792626;
}

#field{
    -fx-border-radius: 5;
    -fx-border-color: rgb(201, 170, 125);
    -fx-border-width: 0.5;
    -fx-font-weight: bold;
}

/*summary section*/
#info-extra-content-pane{
    -fx-background-color: rgba(255, 228, 180, 0.56);
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: rgb(201, 170, 125);
    -fx-border-width: 0.5;
}

#extra-title{
    -fx-font-size: 16;
    -fx-font-weight: bold;
}

/*update section*/
#update-btn{
    -fx-background-color: rgb(231, 207, 165);
    -fx-font-size: 16;
    -fx-border-width: 0.8;
    -fx-border-color: rgba(0, 0, 0, 0.8);
    -fx-border-radius: 50;
    -fx-background-radius: 50;
    -fx-text-fill: black;
}

#update-btn:hover {
    -fx-background-color: rgb(255, 228, 180);
    -fx-border-width: 1;
    -fx-cursor: hand;
}

/*///////////////////////////////////////////////////////////AddScreen////////////////////////////////////////////////*/
#add-scroll-pane >  {
    -fx-background-color: transparent !important;
}

#add-scroll-pane > .viewport {
    -fx-background-color: transparent !important;
}

#main-pane{
    -fx-background-color: rgba(255, 228, 180, 0.56);
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: rgb(201, 170, 125);
    -fx-border-width: 0.5;
}

#add-cost-label{
    -fx-font-size: 14;
    -fx-font-weight: bold;
}

/*submit button*/
#submit-btn{
    -fx-background-color: rgb(231, 207, 165);
    -fx-font-size: 16;
    -fx-border-width: 0.8;
    -fx-border-color: rgba(0, 0, 0, 0.8);
    -fx-border-radius: 50;
    -fx-background-radius: 50;
    -fx-text-fill: black;
}

#submit-btn:hover{
    -fx-background-color: rgb(255, 228, 180);
    -fx-border-width: 1;
    -fx-cursor: hand;
}
